$primary: rgba(214, 73, 51, 1);//#D64933;
$shade: rgba(186, 193, 184,1);//#BAC1B8;
$button: #0C7C59;
$accent:#2B303A;
$blue: #58A4B0;
$white: #fff;
$secondaryButton: #EFEFEF;

$caption:gray;

$easy: green;
$intermediate: #0080ca;
// $intermediate: #CA0B00;
$hard: black;
$extreme: orange;