@font-face {
    font-family: 'orkneyregular';
    src: url('../../../fonts/Orkney\ Regular.woff2') format('woff2'),
         url('../../../fonts/Orkney\ Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'orkneybold';
    src: url('../../../fonts/Orkney\ Bold.woff2') format('woff2'),
         url('../../../fonts/Orkney\ Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$headingFont: 'Hind Madurai', sans-serif;

$bodyFont: 'orkneyregular';


h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family: $headingFont;
}
a{
    color: inherit;
    text-decoration: none;
}