@import '../../../sass/styles/ui/colours';

ul{
    margin:0;
    padding:0;
    list-style:none;
}
li{
    margin:0;
    padding:0;
    text-transform: capitalize;
    margin-bottom: 4px;
    margin-left: 24px;
    padding: 8px;
    background: $accent;
    color: $white;
}
a.active{
    text-decoration: underline;
}