AuthType Basic
AuthName "restricted area"
AuthUserFile /home/u982972214/public_html/.htpasswd
require valid-user

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^trailshub.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.trailshub.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

