@import "../../../sass/styles/ui/colours";
@import "../../../sass/styles/ui/typography";

.signup-modal {
    & > img {
        width: 100%;
    }
}
.signup {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px;
}
label {
    display: flex;
    justify-content: center;
}

input {
    border-width: 1px 0 1px 1px;
    border-radius: 2px 0 0 2px;
    border-color: $accent;
    width: 250px;
    padding-left: 8px;
}
.progress-button {
    font-family: $bold;
    background-color: inherit;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: none;
    &:focus {
        outline: none;
    }
    &:after {
        content: " ";
        background: url("/images/right-arrow.svg");
        background-size: 14px;
        width: 14px;
        height: 14px;
        display: block;
        margin-left: 8px;
    }
    &.back {
        border-right: 1px solid $accent;
        &:after {
            transform: rotate(180deg);
        }
    }
    &.button-submitting:after{
        display: none;
    }
    p{
        margin:0;
    }
}
.progress-button:disabled:after {
    background: url("/images/right-arrow-disabled.svg");
}
h3 {
    font-family: $bold;
    margin: 16px 0 32px 0;
    text-align: center;
}
.register-animation-container{
    min-height: 105px;
}
textarea:focus,
input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


input.password {
    z-index: 10;
}
// input.password, .confirm-password{
//     height:32px;
//     border-right-width:1px;
//     width:282px;
// }

.swipe-enter {
    transform: translateX(-100vw);
    opacity: 0;
}
.swipe-exit {
    transform: translateX(0px);
    opacity: 1;
}
.swipe-enter-active {
    transform: translateX(0px);
    opacity: 1;
}
.swipe-exit-active {
    transform: translateX(100vw);
    opacity: 0;
}
.swipe-enter-active,
.swipe-exit-active {
    transition: all 500ms;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    button{
        width:auto;
    } 
}

//@include

.swipeback-enter {
    transform: translateX(100vw);
    opacity: 0;
}
.swipeback-exit {
    transform: translateX(-50px);
    opacity: 1;
}
.swipeback-enter-active {
    transform: translateX(0px);
    opacity: 1;
}
.swipeback-exit-active {
    transform: translateX(-100vw);
    opacity: 0;
}
.swipeback-enter-active,
.swipeback-exit-active {
    transition: all 500ms;
}

.password-dropdown {
    animation: slideDown 0.5s ease;
}
.warning {
    text-align: center;
    color: $primary;
}
.password {
    z-index: 2;
    & + .status-container {
        z-index: 999;
    }
}
