@import "../../../sass/styles/ui/colours";

.difficulty-indicator {
    text-transform: uppercase;
    padding:8px;
    h5{
        font-size: 10px;
        font-weight: 700;
    }
    &.easy {
        background-color: $easy;
    }
    &.intermediate {
        background-color: $intermediate;
    }
    &.hard {
        background-color: $hard;
        color: $white;
    }
    &.extreme {
        background-color: $extreme;
    }
}
