.video-container{
    // width:100%;
    margin-top:24px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.create-section{
    .video-container{
        animation: slideDown 0.5s ease;
    }
}

// .container {
//     position: relative;
//     width: 100%;
//     height: 0;
//     padding-bottom: 56.25%;
// }
// .video {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }